<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>VTIC</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//unpkg.com/vue-material@0.7.1/dist/vue-material.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="md-theme-background">
    <div id="app">
        <transition name="fade">
            <div id="fullscreen-loader" v-if="fullscreenLoading">
                <md-spinner :md-size="150" :md-stroke="1" md-indeterminate></md-spinner>
            </div>
        </transition>

        <transition name="fade">
            <md-progress md-indeterminate class="md-accent" id="linear-loader" v-if="loading"></md-progress>
        </transition>

        <md-dialog ref="confirm">
            <md-dialog-title>{{ confirm.title }}</md-dialog-title>
            <md-dialog-content v-html="confirm.contentHtml"></md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary md-raised" @click.native="onConfirm(); closeDialog('confirm');">{{confirm.ok}}</md-button>
                <md-button class="md-primary" @click.native="closeDialog('confirm')">{{confirm.cancel}}</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-dialog md-open-from="#settings" md-close-to="#settings" ref="settings">
            <md-dialog-title>Elige el curso y el tema</md-dialog-title>

            <md-dialog-content>
                <md-layout md-row :md-gutter="40">
                    <md-layout md-flex="100">
                        <md-input-container>
                            <label for="currentLevel">Curso</label>
                            <md-select v-model="currentLevel">
                                <md-option v-for="(item, index) in levels" v-bind:value="index">{{item.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-layout>
                    <md-layout md-flex="100">
                        <md-input-container>
                            <label for="currentLevel">Tema</label>
                            <md-select name="currentTopic" v-model="currentTopic">
                                <md-option v-for="element in topics" v-bind:value="element.slug">{{element.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-layout>
                </md-layout>

            </md-dialog-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click.native="closeDialog('settings')">Ok</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-snackbar :md-position="snackBar.vertical + ' ' + snackBar.horizontal" ref="snackbar" :md-duration="snackBar.duration">
            <span>{{ snackBar.message }}</span>
        </md-snackbar>
        <transition name="fade">
            <div v-if="ifLogin">
                <md-button class="md-fab md-raised md-primary md-fab-bottom-right" id="settings" @click.native="openDialog('settings')" style="position: fixed">
                    <md-icon>settings</md-icon>
                </md-button>

                <md-toolbar class="md-primary md-medium" md-centered>
                    <div class="container nav">
                        <md-menu style="margin: 0 auto;">
                            <md-avatar class="md-large" md-menu-trigger style="cursor: pointer;">
                                <img :src="user.avatar" alt="Avatar">
                                <md-tooltip md-direction="bottom">{{ user.name }}</md-tooltip>
                            </md-avatar>
                            <md-menu-content>
                                <md-menu-item @click.native="confirm = logOutconfirm; onConfirm = logOut; openDialog('confirm')">Cerrar sesión</md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </md-toolbar>
                <md-tabs md-fixed @change="changeRoute" :md-dynamic-height="false">
                    <md-tab id="submitQuestion" md-icon="send">
                        <div class="container">

                            <form validate @submit.stop.prevent="submit">
                                <md-chip>{{ currentLevelName }}</md-chip>
                                <md-chip>{{ currentTopicName }}</md-chip>

                                <md-input-container>
                                    <label>Pregunta</label>
                                    <md-input v-model="question.title" :required="true"></md-input>
                                </md-input-container>
                                <md-layout md-row :md-gutter="40">
                                    <md-layout md-flex-xsmall="100" md-flex-medium="50">
                                        <md-input-container>
                                            <label>Repuesta A</label>
                                            <md-input v-model="question.answers.a" :required="true"></md-input>
                                        </md-input-container>
                                    </md-layout>
                                    <md-layout md-flex-xsmall="100" md-flex-medium="50">
                                        <md-input-container>
                                            <label>Respuesta B</label>
                                            <md-input v-model="question.answers.b" :required="true"></md-input>
                                        </md-input-container>
                                    </md-layout>
                                </md-layout>
                                <md-layout md-row :md-gutter="40">
                                    <md-layout md-flex-xsmall="100" md-flex-medium="50">
                                        <md-input-container>
                                            <label>Respuesta C</label>
                                            <md-input v-model="question.answers.c" :required="true"></md-input>
                                        </md-input-container>
                                    </md-layout>
                                    <md-layout md-flex-xsmall="100" md-flex-medium="50">
                                        <md-input-container>
                                            <label>Respuesta D</label>
                                            <md-input v-model="question.answers.d" :required="true"></md-input>
                                        </md-input-container>
                                    </md-layout>
                                </md-layout>
                                <md-layout md-gutter md-theme="default">
                                    <md-layout md-flex-xsmall="25%">
                                        <md-radio v-model="question.correctAnswer" md-value="a">A</md-radio>
                                    </md-layout>
                                    <md-layout md-flex-xsmall="25%">
                                        <md-radio v-model="question.correctAnswer" md-value="b">B</md-radio>
                                    </md-layout>
                                    <md-layout md-flex-xsmall="25%">
                                        <md-radio v-model="question.correctAnswer" md-value="c">C</md-radio>
                                    </md-layout>
                                    <md-layout md-flex-xsmall="25%">
                                        <md-radio v-model="question.correctAnswer" md-value="d">D</md-radio>
                                    </md-layout>
                                </md-layout>
                                <md-button class="md-raised md-primary fullWidth" @click.native="addQuestion()" type="submit">
                                    Enviar
                                </md-button>
                            </form>
                        </div>
                    </md-tab>
                    <md-tab id="checkQuestion" md-icon="view_list">
                        <div class="container">
                            <div v-if="!exam.inProgress">
                                <md-card class="md-primary" v-if="!questionList.length && currentTopic !== null">
                                    <md-card-header>
                                        <div class="md-title">No hay preguntas bajo el tema de {{ currentTopicName }}.</div>
                                    </md-card-header>
                                    <md-card-actions>
                                        <md-button @click.native="switchTab(0)">Crear una ahora</md-button>
                                        <md-button @click.native="openDialog('settings')">Camiar el tema</md-button>
                                    </md-card-actions>
                                </md-card>
                                <md-card style="margin-bottom: 1em;" v-for="(item, index) in reverse(questionList)">
                                    <md-card-header>
                                        <md-avatar>
                                            <img :src="item.author.avatar" alt="People">
                                        </md-avatar>
                                        <div class="md-title">{{ item.author.name }}</div>
                                        <div class="md-subhead" :title="item.date | toDate">
                                            <timeago :auto-update="60" :since="item.date"></timeago>
                                        </div>
                                    </md-card-header>
                                    <md-card-content>
                                        {{ item.title }} {{item.id}}
                                        <md-list>

                                            <md-list-item v-for="(value, letter, index) in item.answers" :key="item.id">
                                                <div class="md-list-text-container">
                                                    {{letter.toUpperCase()}}. {{value}}
                                                </div>
                                                <md-button v-if="item.correctAnswer == letter" class="md-icon-button md-list-action">
                                                    <md-icon class="md-primary">star</md-icon>
                                                    <md-tooltip md-direction="bottom">Respuesta Correcta</md-tooltip>
                                                </md-button>
                                                <md-divider v-if="letter !== 'd'"></md-divider>
                                            </md-list-item>
                                        </md-list>
                                        <md-button @click.native="removeQuestion(item)" class="md-raised md-warn" v-if="item.author.uid == user.uid">Eliminar</md-button>

                                    </md-card-content>
                                </md-card>
                            </div>
                            <div v-else>
                                <md-card class="md-primary">
                                    <md-card-header>
                                        <div class="md-title">Nope.</div>
                                    </md-card-header>
                                </md-card>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab id="doTest" md-icon="assignment">
                        <div class="container">
                            <div v-if="!exam.inProgress && !questionListShuffled.length">
                                <md-card class="md-accent" v-if="!questionList.length && currentTopic !== null">
                                    <md-card-header>
                                        <div class="md-title">No hay preguntas bajo el tema de {{ currentTopicName }}</div>
                                    </md-card-header>
                                    <md-card-content>
                                        Elegir un tema con preguntas para poder comenzar el examen.
                                    </md-card-content>
                                    <md-card-actions>
                                        <md-button @click.native="openDialog('settings')">Camiar el tema</md-button>
                                    </md-card-actions>
                                </md-card>

                                <md-card v-else>
                                    <md-card-header>
                                        <div class="md-title">Examinar</div>
                                        <div class="md-subhead">{{ currentTopicName }} - {{currentLevelName}}</div>
                                    </md-card-header>

                                    <md-card-actions>
                                        <md-button @click.native="openDialog('settings')">Cambiar</md-button>
                                        <md-button @click.native="shuffleQuestion()">Comenzar</md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                            <md-card v-if="exam.inProgress" style="margin-bottom: 1em;" v-for="(item, i) in questionListShuffled">
                                <md-card-header>
                                    <h2 class="md-title">{{ item.title }}</h2>
                                    <div class="md-subhead">
                                        <span>{{ i + 1 }} de {{questionListShuffled.length}}</span>
                                    </div>
                                </md-card-header>
                                <md-card-content>

                                    <md-list>

                                        <md-list-item>
                                            <md-layout md-column md-theme="default">
                                                <md-layout v-for="(value, letter, index) in item.answers">
                                                    <md-radio v-bind:md-value="letter" v-model="item.choosen">{{ letter.toUpperCase() }}. {{value}}</md-radio>
                                                </md-layout>
                                            </md-layout>
                                        </md-list-item>

                                    </md-list>
                                </md-card-content>
                            </md-card>
                            <md-button @click.native="checkAnswers()" class="md-raised md-primary fullWidth" v-if="exam.inProgress">Comprobar</md-button>
                            <div v-if="exam.result">
                                <md-card v-bind:class="examCardClass">
                                    <md-card-header>
                                        <div class="md-title">Nota: {{exam.grade.toPrecision(2)}}</div>
                                        <div class="md-subhead" v-if="exam.wrong.length">Has tenido mal las siguientes preguntas:</div>
                                        <div class="md-subhead" v-else>Enhorabuena!</div>
                                    </md-card-header>
                                </md-card>
                                <md-card v-for="value in exam.wrong">
                                    <div v-for="item in getQuestionByKey(value,questionListShuffled)">
                                        <md-card-header>
                                            <div class="md-title">{{ item.title }}</div>
                                        </md-card-header>

                                        <md-card-content>
                                            <p>Elegiste la opcion <strong>{{ item.choosen.toUpperCase() }}. {{item.answers[item.choosen]}}</strong></p>
                                            <p>La correcta era <strong>{{item.correctAnswer.toUpperCase()}}. {{item.answers[item.correctAnswer]}}</strong></p>
                                        </md-card-content>
                                    </div>
                                </md-card>
                            </div>
                            <md-button @click.native="exitTest()" class="md-raised md-primary fullWidth" v-if="exam.result">Terminar</md-button>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
            <div v-if="!ifLogin">
                <md-button id="loginButton" @click.native="login()" class="md-raised md-primary">
                    Iniciar la sesión
                    <md-tooltip md-direction="top">Con una cuenta de vedruna.es o a.vedrunacarabanchel.es</md-tooltip>
                </md-button>
            </div>
        </transition>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://unpkg.com/vue-material@0.7.1"></script>
    <script src="https://unpkg.com/vue-timeago@3.2.0/dist/vue-timeago.js"></script>
    <script src="main.js"></script>
</body>

</html>