<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>VTIC</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//unpkg.com/vue-material@0.7.1/dist/vue-material.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="md-theme-background">
    <div id="app">
        <transition name="fade">
            <div id="fullscreen-loader" v-if="fullscreenLoading">
                <md-spinner :md-size="150" :md-stroke="1" md-indeterminate></md-spinner>
            </div>
        </transition>

        <transition name="fade">
            <md-progress md-indeterminate class="md-accent" id="linear-loader" v-if="loading"></md-progress>
        </transition>

        <md-dialog ref="confirm">
            <md-dialog-title>{{ confirm.title }}</md-dialog-title>
            <md-dialog-content v-html="confirm.contentHtml"></md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary md-raised" @click.native="onConfirm(); closeDialog('confirm');">{{confirm.ok}}</md-button>
                <md-button class="md-primary" @click.native="closeDialog('confirm')">{{confirm.cancel}}</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-dialog ref="settings">
            <md-dialog-title>Elige el curso y el tema</md-dialog-title>

            <md-dialog-content>
                <md-layout md-row :md-gutter="40">
                    <md-layout md-flex="100">
                        <md-input-container>
                            <label for="currentLevel">Curso</label>
                            <md-select v-model="currentLevel">
                                <md-option v-for="(item, index) in levels" v-bind:value="index" :key="item.slug">{{item.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-layout>
                    <md-layout md-flex="100">
                        <md-input-container>
                            <label for="currentLevel">Tema</label>
                            <md-select name="currentTopic" v-model="currentTopic">
                                <md-option v-for="element in topics" v-bind:value="element.slug" :key="element.slug">{{element.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-layout>
                </md-layout>

            </md-dialog-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click.native="closeDialog('settings')">Ok</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-snackbar :md-position="snackBar.vertical + ' ' + snackBar.horizontal" ref="snackbar" :md-duration="snackBar.duration">
            <span>{{ snackBar.message }}</span>
        </md-snackbar>
        <transition name="fade">
            <div v-if="loggedIn">

                <md-sidenav md-theme="default" ref="sidenav" class="md-left md-fixed" md-swipeable>
                    <md-toolbar class="md-account-header">
                        <div id="sideNav--bg"></div>
                        <md-list class="md-transparent">
                            <md-list-item class="md-avatar-list">
                                <md-avatar class="md-large">
                                    <img :src="user.avatar" alt="People">
                                </md-avatar>
                            </md-list-item>

                            <md-list-item>
                                <div class="md-list-text-container">
                                    <span>{{ user.name }}</span>
                                    <span style="color: rgba(255, 255, 255, .87);">{{ user.email }}</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-toolbar>

                    <md-list>
                        <md-list-item>
                            <router-link exact to="/">
                                <md-icon>home</md-icon> <span>Dashboard</span>
                            </router-link>
                        </md-list-item>
                        <md-list-item>
                            <router-link exact to="/submit">
                                <md-icon>send</md-icon> <span>Enviar</span>
                            </router-link>
                        </md-list-item>
                        <md-list-item>
                            <router-link exact to="/exam">
                                <md-icon>assignment</md-icon> <span>Examinar</span>
                            </router-link>
                        </md-list-item>

                        <md-list-item>
                            <router-link exact to="/profile">
                                <md-icon>account_circle</md-icon> <span>Perfil</span>
                            </router-link>
                        </md-list-item>

                        <md-whiteframe md-elevation="2" id="signOutButton">
                            <md-list-item @click.native="confirm = logOutconfirm; onConfirm = logOut; openDialog('confirm')">
                                <md-icon>exit_to_app</md-icon> <span>Salir</span>
                            </md-list-item>
                        </md-whiteframe>

                    </md-list>
                </md-sidenav>
                <md-whiteframe md-tag="md-toolbar" md-elevation="2">
                    <div class="md-toolbar-container">
                        <md-button class="md-icon-button" @click.native="$refs.sidenav.toggle()" v-if="loggedIn" id="menuToggle">
                            <md-icon>menu</md-icon>
                        </md-button>

                        <h2 class="md-title" style="flex: 1">{{ $route.name }}</h2>

                        <md-button @click.native="openDialog('settings')">{{ currentLevelName }} / {{ currentTopicName }}</md-button>
                    </div>
                </md-whiteframe>


                <div class="container" id="main">
                    <transition name="fade">
                        <router-view></router-view>
                     </transition>
                </div>

            </div>
            <div v-else>
                <md-button id="loginButton" @click.native="login()" class="md-raised md-primary">
                    Iniciar la sesión
                    <md-tooltip md-direction="top">Con una cuenta de vedruna.es o a.vedrunacarabanchel.es</md-tooltip>
                </md-button>
            </div>
        </transition>
    </div>
    <script src="https://unpkg.com/vue@2.2.4/dist/vue.js"></script>
    <script src="https://gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://unpkg.com/vue-material@0.7.1"></script>
    <script src="https://unpkg.com/vue-timeago@3.2.0/dist/vue-timeago.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/http-vue-loader@1.0.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

    <script src="main.js"></script>

</body>

</html>